<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A unique instrument and experience!</h2>
                <hr class="light">
                <p class="text-faded">A carillon is a piano-like musical instrument housed in the bell tower of a church. The bells can be played serially to generate melodies, or together to produce chords. The unique nature of the carillon allows entire busy streets of NYC to be your audience as they'll hear carilloneurs playing tunes atop church bell towers!</p>
                <a href="#" class="btn btn-default btn-xl">I Want to Try!</a>
            </div>
        </div>
    </div>
</section>
